/* Variables globales root */
:root{
  --color-principal: #254F67;
  --color-contenedores: #151515;
}

.principal{
    display: flex;
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: 2rem;
    justify-content: center;
    background-color: white;
    max-width: 100rem;
    height: 12rem;
    color: var(--color-principal);
}
/* sugerenci */

.sugeerencci{
    display: flex;
}

.name-1{
    font-size: 2rem;
    text-align: center;
    color: #2E495C;
}
.cabecera{
    padding: 0;
    margin: 0;
    width: 100%;
}

.img-principal{
    width: 100%;
    height: 35rem;
}

/*estilo en contenedores de imagenes */
.item-1{
    display: flex;
}

.contenido-1{
    display: flex;
    flex-direction: column;
}

.item-2{
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
}

.item-3{
    display: flex;
}

.item-4{
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
}

.item-5{
    display: flex;
}

.item-6{
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
}

/* estilo en imagenes */
.img-1{
    width: 35rem;
    height: 25rem;
    margin: 2rem 0 0 2rem;
}

.img-2{
    width: 35rem;
    height: 25rem;
    margin: 4rem 2rem 0 2rem;
}

.img-3{
    width: 35rem;
    height: 25rem;
    margin: 2rem 0 0 2rem;
}

.img-4{
    width: 35rem;
    height: 25rem;
    margin: 2rem 2rem 0 2rem;
}

.img-5{
    width: 35rem;
    height: 25rem;
    margin: 2rem 0 0 2rem;
}

.img-6{
    width: 35rem;
    height: 25rem;
    margin: 2rem 2rem 2rem 0;
}


/* estilo en texto de imagenes */
.clima-1{
    margin: 2rem 0 0 2rem;
}

.clima-2{
    margin: 4rem 0 0 2rem;
}

.clima-3{
    margin: 2rem 0 0 2rem;
}

.clima-4{
    margin: 2rem 0 0 2rem;
}

.clima-5{
    margin: 2rem 0 0 2rem;
}

.clima-6{
    margin: 2rem 2rem 0 0;
}