/* Variables globales root */
:root{
  --color-principal: #254F67;
  --color-contenedores: #151515;
  --color-texto:  aliceblue;
}
* {
  box-sizing: border-box;
}

/* estilos.css scroll suabe */
html {
  scroll-behavior: smooth;
}


/* cabecera */
.principal{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    justify-content: center;
    background-color: #2980b9;
    width: 100%;
    height: auto;
    overflow-x: hidden; /* evita desbordes horizontales */
}

/* contenedor titulo */
    .titulo {
    color: white;
    text-align: start;
    height: 4rem;
    width: 100%;
    margin: 1rem 0 0 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2rem;
    }

    .consulta{
      display: flex;
      justify-content: center;
      color: white;
      font-size: 2.5rem;
      margin: 2rem 0 0 0;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
    }

    /* item padre del contenido interno de buscarclima */
    .buscarclima{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .busqueda{
      display: flex;
      justify-content: center;
    }

    .input{
      height: 2rem;
      margin: 2rem 0 0 1rem;
      width: 20rem;
    }

    .buscar{
      height: 2rem;
      margin: 2rem 0 0 0;
      cursor: pointer;
      width: 4rem;
    }

    /* estilo de resultado de la API */
    .resultado-clima{
      display: flex;
      justify-content: center;
      margin-top: 1.5rem;
      height: auto;
    }

    .resultado{
      display: flex;
      align-items: center;
      flex-direction: column;
      color: white;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 1.3rem;

    }


    .buscar:hover{
      background-color: #CDA81C;
      color: var(--color-texto)
    }

      /* termina item padre del contenido interno de buscarclima */

    /* lista de navegacion */
    .navigation-list{
      display: flex;
      margin: 2rem 0 0 3rem;
      list-style: none;
    }

    .navigation-list a{
      margin-left: 1rem;
      text-decoration: none;
      color: var(--color-texto);
      font-weight: 600;
      font-size: 1.1rem;
    }

    .navigation-list a:hover{
      text-decoration: underline;
      color: #CDA81C;
    }

    /* icono search */
    .material-symbols-outlined{
      margin: 2.3rem 0 0 -6rem;
      color:  #2980b9;
    }

/* se recomienda colocar al inio de cada proyecto para no permitir espaciados no deseados  */
* { 
  margin: 0;
}

  body {

      margin: 0;
      padding: 0;
    }


/* texto recomendaciones */

.name-1{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: 0;
    padding: 2rem 0 2rem 0;
}


 /* estilos del mapa */
    #map {
      height: 35rem;
      width: 100%;
    }

    footer {
      text-align: center;
      padding: 1em;
      background-color: #ecf0f1;
      font-size: 0.9em;
    }











